.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  //max-width: 1200px;
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;

  // Add padding to all direct children except MovieBanner
  >*:not(.movie-banner) {
    padding-top: var(--default-layout-header-height, 70px);
  }
}