@import 'normalize.css';

:root {
  --primary-color: #FFD875;
  --primary-color-hover: #FFDE8A;
  --header-footer-bg: #0F111A;
  --bg-color: #191B24;
  --text-light-color: #ffffff;
  --text-muted: #aaa;
  --border-color: #ffffff10;
  --primary-button-text: #191B24;

  //Layout
  --default-layout-header-height: 70px;
  --default-layout-footer-height: 392px;

  //DefaultLayout
  // --default-layout-header-width: 1520px;
  // --default-layout-header-height: 77px;
  // --default-layout-horizontal-spacer: 210px;

  // --default-layout-min-width: 1370px;
  // --default-layout-padding-left: 60px;
  // --default-layout-padding-right: 60px;

  // --default-layout-footer-width: 1110px;
  // --default-layout-footer-height: 460px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", "Raleway", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: var(--text-light-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Responsive */


button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
}

ul {
  list-style: none;
}